.table-wrapper {
    padding-top: 40px;    
    table {        
        width: 720px;
        margin:auto;        
    }    
}
.table {
    border: 1px solid black;
    border-collapse: collapse;
    th, tr {
    background-color: #F8F8FF;
    color: black;
    text-align: left;    
    }
    th, td {
        border: 1px solid black;
    }
    button {        
        height: 100%;
        width: 100%;
        align-self: stretch;
    }
}
    
    