.table-wrapper {    
    padding-top: 40px;    
    table {     
        z-index: 0;   
        width: 720px;
        margin:auto;        
    }    
}
.table {
    border: 1px solid black;
    border-radius: 13px; 
    border-spacing: 0;
    padding: 5px;
    td, th {
        border-bottom: 1px solid black;
        padding: 10px; 
    }
    tr:last-child > td {
        border-bottom: none;
    }
    button {        
        height: 100%;
        width: 100%;
        align-self: stretch;
    }
}
#modal-view {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#modal-update {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
#modal-delete {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
    
    