.table-wrapper {  
    padding-top: 40px;    
    table {     
        z-index: 0;   
        width: 720px;
        margin:auto;        
    }    
}
.table {
    border: 1px solid black;
    border-radius: 12px; 
    border-spacing: 0;
    padding: 5px;
    td, th {
        border-bottom: 1px solid black;
        padding: 10px; 
    }
    tr:last-child > td {
        border-bottom: none;
    }
    button {        
        height: 100%;
        width: 100%;
        align-self: stretch;
    }
}
.modal-wrapper {    
    box-sizing: border-box;
    display: none;
    z-index: 2;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal {
    border: 1px solid black;
    padding: 40px;
    background-color: white;
    border-radius: 12px; 
    padding-top: 0;
    margin: auto;
    h2 {
        text-align: center;
    }
    textarea {
        font-size: 14px;
        width: 300px;
        height: 75px;
        resize: none;
        overflow: auto;
    }    
    select {
        width: 304px;
        font-size: medium;
        height: 40px;
    }
    i {
        padding-top: 10px;
        margin-right: -30px;
        float: right;        
    }
}

@media screen and (max-width: 400px) {
    .modal-wrapper {
        .modal, form, input, label, select, button, textarea {
            max-width: 100%;            
        }
        button {
            white-space: nowrap;
            overflow: hidden;
        }
    }  
}
    
    